[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
Flask = "*"
Flask-Sqlalchemy = "*"
Flask-Migrate = "*"
Flask-Script = "*"
python-twitter = "*"
"psycopg2-binary" = "*"

[requires]
python_version = "2.7"
